.app {
}

.signUpForm {
}

.usernameInputLabel {
  margin-right: 0.5rem;
}

.usernameInput {
  margin-right: 1.5rem;
}

.passwordInputLabel {
  margin-right: 0.5rem;
}

.passwordInput {
  margin-right: 1.5rem;
}

.passwordConfirmationInputLabel {
  margin-right: 0.5rem;
}

.passwordConfirmationInput {
  margin-right: 1.5rem;
}

.submitButton {
}
