.signUpForm {
  padding: auto;
  text-align: center;
}

.formTitle {
  display: inline;
  font-size: 1.2rem;
  margin: 0 1rem 0 0;
}

.emailInputLabel {
  margin-right: 0.3rem;
  font-weight: 500;
}

.emailInputContainer {
  display: inline-grid;
}

.emailInput {
  margin-right: 1rem;
}

.passwordInputLabel {
  margin-right: 0.3rem;
  font-weight: 500;
}

.passwordInput {
  margin-right: 1rem;
}

.passwordConfirmationInputLabel {
  margin-right: 0.3rem;
  font-weight: 500;
}

.passwordConfirmationInput {
  margin-right: 1rem;
}

.submitButton {
  margin-right: 0.5rem;
}

.signInButton {
}

.errorMessage {
  font-size: 10pt;
  margin-right: 1rem;
  color: red;
  font-weight: 500;
}
